# Git
.git
.gitignore
.gitattributes

# Docker
compose.yml
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# logs
*.log

# Virtual environment
.env
.venv/
venv/

# VS Code
.vscode/

